<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>vue原理简单实现</title>
  <script src="js/Manager.js"></script>
  <script src="js/Observer.js"></script>
  <script src="js/Watcher.js"></script>
  <script src="js/Compiler.js"></script>
  <script src="js/MyMVVM.js"></script>
</head>
<body>
<div id="app">
  <p v-model="message">message: {{ message }}</p>
  <div v-model="location">location: {{ location }}</div>

  <div v-text="location"></div><br>

  <input type="text" v-model="location" />

  {{location}}<br>

  <input type="text" v-model="message" />

  {{message}}<br>

  <button v-on:click="myClick">点击</button>

  
  <div v-model="persons">{{persons.person1.name}}</div><br>



</div>

<script>
  new MyMVVM({
    el: '#app',
    data: {
      message: 'hello Vue!',
      location: "Beijing",
      // persons: {
      //   person1: {
      //     name: 'gavin',
      //     age: 21
      //   },
      //   person2: {
      //     name: 'bob',
      //     age: 20
      //   }
      // }
    },


    methods: {
      myClick: function () {
        this.message = "new message"
        // this.persons.person1.name = "new name"
      }
    }
  })
</script>
</body>
</html>